@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700,300i,600i,700i|Raleway:600,800");

/* Basic */

:root {
    --clr-primary-400: #49fcd4;
    --ff-primary: "Raleway", Helvetica, sans-serif;
    --ff-accent: "Source Sans Pro", Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-accent);
    letter-spacing: -0.05em;
    margin: 0 0 1.5rem 0;
}

p, .nav-item {
    color: #000000;
    font-family: var(--ff-primary);
    letter-spacing: 0.175em;
    margin: 0 0 1.5rem 0;
    text-transform: uppercase;
}

/* Section */

header {
    grid-area: header;
    justify-self: end;
    text-align: left;
    padding: 0 10rem 0 5rem;
    width: 35rem;
}

section > .image {
    grid-area: image;
    max-width: 60rem;
    position: relative;
    height: 100vh;
}

section.intro , section.first, section.second {
    background-color: var(--clr-primary-400);
    margin-top: 0;
    align-items: center;
    display: grid;
    grid-template-areas: "header image";
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 1fr;
    position: relative;
}

section.first {
    background-color: black;
    grid-template-areas: "image header";
}

section.first h1, section.first p {
    color: var(--clr-primary-400);
}

.image.fill img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

a.arrow {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 512 512'%3E%3Cpath d='M442.53,346.28L293.65,495.16c-0.33,0.33-0.7,0.62-1.05,0.94c-9.16,9.77-22.15,15.9-36.6,15.9 c-14.44,0-27.43-6.13-36.59-15.88c-0.35-0.33-0.72-0.62-1.06-0.96L69.47,346.28c-19.62-19.62-19.62-51.44,0-71.05 c19.62-19.62,51.43-19.62,71.06,0l65.23,65.23V50.24C205.76,22.5,228.25,0,256,0s50.24,22.5,50.24,50.24v290.21l65.23-65.23 c19.62-19.62,51.43-19.62,71.05,0C462.15,294.84,462.15,326.66,442.53,346.28z' fill='%23000000' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    border-bottom: 0;
    display: inline-block;
    height: 4rem;
    position: relative;
    width: 6rem;
    background-color: var(--clr-primary-400);
}

/* Summary */

.summary h1 {
    font-weight: 700;
}

.summary-jumbotron i {
    color: var(--clr-primary-400);
    transform: scale(1.5);
}

.card {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}

.card:hover {
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
}

.active {
    text-decoration: underline !important;
    text-decoration-thickness: .25rem !important;
    text-decoration-color: var(--clr-primary-400) !important;
}
.nav-item:hover {
    color: var(--clr-primary-400);
}
